@font-face {
  font-family: "symbols-sedona";
  src: url("../font/symbols-sedona.eot?60737633");
  src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
       url("../font/symbols-sedona.woff?60737633") format("woff"),
       url("../font/symbols-sedona.ttf?60737633") format("truetype"),
       url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-sedona";
    src: url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  }
}
*/
 
.icons,[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 	
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: "\66"; } /* "f" */
.icon-twitter:before { content: "\74"; } /* "t" */
.icon-up-dir:before { content: "\25b2"; } /* "▲" */
.icon-down-dir:before { content: "\25bc"; } /* "▼" */
.icon-star:before { content: "\2605"; } /* "★" */
.icon-check-off:before { content: "\2610"; } /* "☐" */
.icon-check-on:before { content: "\2611"; } /* "☑" */
.icon-calendar:before { content: "\e800"; } /* "" */
.icon-plus:before { content: "\e801"; } /* "" */
.icon-minus:before { content: "\e802"; } /* "" */
.icon-youtube:before { content: "\f39e"; } /* "" */

body {	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000000;
	/*background-color: #eaeaea;*/
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, p {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.layout-center {
	width: 1056px;
	margin: 0 auto;
}

.main-header {	
	margin-bottom: 60px;
}

.main-nav {	
	/*padding: 20px 47px;*/
	padding: 20px 0;
	background-color: #ffffff;
}

.main-nav a {
	display: inline-block;
	width: 240px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;	
}

.main-nav a:nth-child(3),
.main-nav a:nth-child(4) {
	text-align: right;
}

.main-nav a:nth-child(3) {
	margin-left: 84px;
}

.header-image {
	width: 100%;
	height: 300px;
	background-color: #dfeef5;
}

.page-header {	
	margin-bottom: 50px;
	text-align: center;		
}

.page-header h1 {	
	margin-bottom: 30px;	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.page-header p {	
	color: #333333;
}

.second {
	margin-bottom: 50px; 
}

.reason-block {
	float: left;
	width: 400px;	
	padding: 50px 0; 
	background-color: #eeeeee;
	text-align: center;
	color: #000000;		
}

.reason-block-header {	
	margin-bottom: 30px;	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;	
}

.reason-block-description {		
	color: #333333;	
}

.blue-block .reason-block-description {
	color: #ffffff;
}

.reason-number {	
	width: 50px;
	margin: 0 auto; 	
	margin-bottom: 30px;
	color: #333333;
}

.reason-number span {
	position: relative;
	z-index: 2;
	padding: 0 7px;
	background-color: #eeeeee;
}

.reason-number:after {
	content: "";
	display: block;
	position: relative;
	top: -13px;
	z-index: 1;
	border-bottom: 2px solid #979797;	
}

.blue-block {
	color: white;
	background-color: #81b3d2;
}

.blue-block .reason-number span {
	background-color: #81b3d2;
	color: #ffffff;
}

.blue-block .reason-number:after {
	content: "";
	display: block;
	position: relative;
	top: -13px;
	z-index: 1;
	border-bottom: 2px solid #bcd6e7;
}

.promo-block-image {
	float: left;
	width: 800px;
	height: 292px;
	background-color: lightblue;		 
}

.second .reason-block:first-child {
	float: right;
}

.feature-item {
	float: left;
	width: 254px;
	padding: 60px 73px;
	text-align: center;
	background-color: #eeeeee;
	color: #000000;
}

.feature-header {
	margin-bottom: 30px;
}

.feature-description {
	color: #333333;
}

.search-hotel {
	text-align: center;	
}

.search-hotel-header {
	margin-bottom: 30px;
}

.search-hotel-description {
	color: #333333;
	margin-bottom: 54px;
}

.btn-search-hotel {
	display: block;
	width: 576px;
	margin: 0 auto;
	padding: 34px 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #766357;
}

.search-modal {
	/*display: none;	*/
	position: absolute;
	left: 50%;	
	z-index: 2;
	width: 464px;
	padding: 56px;
	margin: 0 auto;
	transform: translateX(-50%);
	text-align: left;
	background-color: #ffffff;
}

.search-modal label {
	display: block;
	vertical-align: top;
	margin-bottom: 30px;
	text-align: right;
	font-weight: bold;
}

.search-modal input[type="text"] {		
	width: 346px;	
	padding: 8px 14px;
	margin-left: 20px;
	border:none;
	outline: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background-color: #f2f2f2;	
}

.customer-type {
	display: inline-block;
}

.customer-type input[type="text"] {
	width: 115px;
	text-align: center;
}

.btn-search-form {
	width: 100%;
	padding: 20px 0;
	border: none;
	outline: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #81b3d2;
}

.map-block {
	background-color: #f5f4f0;
	height: 500px;
}

/*Catalog styles*/
.filters {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	background-color: lightblue;
	color: #ffffff;
}

.filter-block {
	float: left;
	width: 240px;
	padding: 30px 0;	
}

.filter-block:first-child {
	margin-right: 20px;
}

.filter-block:last-child {
	float: right;
	width: 330px;
	/*background-color: blue;*/
}

.filter-title {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 21px;
}

.filter-control {
	position: relative;
	margin-bottom: 23px;
}

.filter-control input[type="checkbox"] {
	display: none;
}

.filter-control input[type="checkbox"] + label {	
	display: inline-block;
	vertical-align: middle;
	padding-left: 35px;
	cursor: pointer;
}

.filter-control input[type="checkbox"] + label:before {	
	content: "";
	display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
  font-size: 21px;
  font-family: "symbols-sedona"; 
  color: #ffffff; 
}

.filter-control input[type="checkbox"]:checked + label:before  {
	content: "\2611";
}

.filter-control input[type="checkbox"] + label:before {
	content: "\2610";
}

.price-controls {
	position: relative;	
	padding: 3px 63px;
	margin-bottom: 20px;
	width: 200px;
	border: 2px solid #ffffff;
	border-radius: 3px;
	font-size: 0;	
}

.price-controls:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 5px;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.price-controls label {
	display: inline-block;	
	vertical-align: middle;
	width: 50%;
	font-size: 14px;
	line-height: 21px;
}

.price-controls input[type="text"] {
	width: 40px;
	border: none;
	background-color: inherit;
	outline: none;
	text-transform: uppercase;
}

.max-price {
	text-align: right;
}

.range-controls {
	position: relative;
	height: 20px;	
}

.range-controls .scale {	
	height: 2px;
	background-color: #7c7879;
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}

.range-controls .toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #1c4f80;
	cursor: pointer; ;
}

.range-controls .min-toggle {
  left: 0;
}

.range-controls .max-toggle {
  left: 80%;
}

.btn-filter {
	display: block;
	width: 138px;
	margin: 0 auto;
	padding: 8px 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background-color: transparent;
	outline: none;
	border: 2px solid #ffffff;
	border-radius: 3px;
}

.find-count {
	width: 135px;
	float: left;
	margin-right: 30px;	
}

.find-count h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.top-filter {
	position: relative;
	float: left;	
	width: 891px;
	margin-bottom: 30px;
}

.top-filter span {
	margin-right: 38px;
	font-size: 12px;
	line-height: 18px;
}

.top-filter a {
	margin-right: 32px;
	font-size: 12px;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	text-decoration: none;	
	border-bottom: 1px dotted #81b3d2;	
}

.top-filter a:last-child,
.top-filter a:nth-child(5) {
	position: absolute;	
	top: 50%;
	transform: translateY(-50%);	
	margin-right: 0;
	border-bottom: none;
	color: #000000;
}

.top-filter a:last-child {
	right: 0;
}

.top-filter a:nth-child(5) {	
	right: 15px;
}

.top-filter a:last-child:before {
	content: "\25bc";
}

.top-filter a:nth-child(5):before {
	content: "\25b2";
}

.top-filter a.active {
	color: #81b3d2;
	border-bottom: none; 
}

.hotel {
	padding: 30px 70px;
	margin-top: -1px;	
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;	
}

.hotel-image {
	float: left;
	width: 135px;
	height: 90px;
	margin-right: 30px;
	background-color: #e5e5e5;
}

.hotel-info {
	float: left;
	width: 270px;
	height: 90px;
	font-size: 0;
}

.hotel-title {
	margin-bottom: 10px;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.hotel-type,
.hotel-price {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.hotel-type {
	margin-right: 40px;
}

.more,
.booking {
	display: inline-block;	
	margin-right: 7px;
	padding: 5px 16px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;	
	border: none; 
}

.more {
	background-color: #81b3d2;
}

.booking {
	background-color: #766357;
}

.hotel-rating {
	float: right;
	width: 112px;
}

.rating-title {
	width: 112px;
	padding: 5px 0;
	color: #666666;
	text-align: center;
	background-color: #f2f2f2;
}






/*Catalog styles end*/

.footer {
	padding: 38px 0;
	font-size: 0;
}

.footer-block {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	text-align: center;
}

.hashtag {	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.btn-social {
	position: relative;	
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	margin-right: 7px;
	font-size: 20px;
	text-decoration: none;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.icon-twitter,
.icon-facebook,
.icon-youtube {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.designed {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
}

